<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
    <header>
        <h1>{{ profile.username }}'s Profile</h1>
    </header>
    <main>
        <h2>Profile Information</h2>
        <p>Username: {{ profile.username }}</p>
        <p>Product: {{ profile.product }}</p>
        <p>Price:{{ profile.price}}</p>
    </main>
    <footer>
        <p>&copy; 2023 MMU Marketplace</p>
    </footer>
</body>
</html>
